# version: "3.9"

# services:
#   redis:
#     image: redis:7
#     container_name: payment-redis
#     ports:
#       - "6379:6379"
#   backend:
#     build: ./backend
#     container_name: payment-backend
#     ports:
#       - "3000:3000"
#     env_file:
#       - .env
#     depends_on:
#       - redis

#   checkout:
#     build: ./checkout
#     container_name: payment-checkout
#     ports:
#       - "3001:80"

#   dashboard:
#     build: ./dashboard
#     container_name: payment-dashboard
#     ports:
#       - "3002:80"  

#   nginx:
#     image: nginx:latest
#     container_name: payment-nginx
#     ports:
#       - "80:80"
#     volumes:
#       - ./nginx/nginx.conf:/etc/nginx/nginx.conf
#     depends_on:
#       - backend
#       - checkout
#       - dashboard
version: "3.9"

services:
  redis:
    image: redis:7
    container_name: payment-redis

  backend:
    build: ./backend
    container_name: payment-backend
    env_file:
      - .env
    depends_on:
      - redis

  checkout:
    build: ./checkout
    container_name: payment-checkout

  dashboard:
    build: ./dashboard
    container_name: payment-dashboard

  nginx:
    image: nginx:latest
    container_name: payment-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
      - checkout
      - dashboard
